<!--Registrar Sismos-->
<section id="registrar-sismo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 titulo-registro">
                <h2 class="section-title text-center">Registrar Productos</h2>
                <p class="text-center">Registro de sismos del Instituto Geofísico - EPN</p>
            </div>
        </div>
        <br>
    </div>
    <app-sismo></app-sismo>
</section>
<br>
<!--Lista de sismos-->
<section id="lista-sismos">
    <div class="container">
        <div class="row titulo-registro">
            <h2 class="section-title text-center">Lista de Sismos</h2>
        </div>
        <div class="row">
            <app-sismos-list></app-sismos-list>
        </div>
    </div>
</section>
<br>
<!--Lista de usuarios que reportan sismo-->
<section id="lista-sismos">
    <div class="container">
        <div class="row titulo-registro">
            <h2 class="section-title text-center">Lista de Reporte de sismos</h2>
        </div>
        <div class="row">
            <app-users-reports></app-users-reports>
        </div>
    </div>
</section>


<!--Pie de página -->
<footer style=" padding-top:0px;">
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center">&copy; 2021 Univerisidad Tecnológica Israel | Ingeniería en Sistemas</p>
        <p class="text-center">Proyecto de Titulación</p>
      </div>
    </div>
</footer>